body {
  background-color: #121212;
  color: #e0e0e0;
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  padding: 2rem;
}

h1 {
  color: #00bcd4;
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 2rem;
  background-color: #1e1e1e;
  color: #e0e0e0;
}

td {
  border: 1px solid #333;
  padding: 0.75rem;
}

tr:nth-child(even) {
  background-color: #2a2a2a;
}

a {
  color: #00bcd4;
  text-decoration: none;
}

.logo {
  width: 140px;
  filter: drop-shadow(0 0 8px rgba(0, 229, 255, 0.6));
}

.header {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}


.serafim-btn {
  background-color: #00bcd4;
  color: #121212;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

:root {
    --bg: #0a0a0a;
    --fg: #e0e0e0;
    --accent: #00eaff;
}

.log-box {
    background: #111;
    color: #0f0;
    padding: 10px;
    height: 300px;
    overflow-y: scroll;
    border: 1px solid #333;
    font-family: monospace;
}

.log-info {
    color: #4caf50; /* grön */
}

.log-warning {
    color: #ff9800; /* orange */
}

.log-error {
    color: #f44336; /* röd */
}

#logs-container {
    color: #4caf50; /* grön */
    background: #111;
    padding: 10px;
    border-radius: 6px;
    font-family: monospace;
    white-space: pre-wrap;
    overflow-y: auto;
    max-height: 400px;
}